.footer {
  color: white;
  background-color: #2e4c1b;
  h2 {
    padding-top: 10px;
  }
  ul {
    padding-left: 0px;
  }
}
@media (max-width: 991px) {
  .footer {
    .container {
      > div {
        justify-content: flex-start !important;
        ul {
          padding-top: 0px;
          padding-left: 0px;
          li {
            margin: 5px;
          }
        }
      }
    }
  }
}
