.header {
  position: relative;
  .navbar {
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    height: 100px;
    background-color: #2e4c1b;
    justify-content: space-around;
    z-index: 999;
    .navbar-brand {
      display: block;
      z-index: 10;
      img {
        transition: all 0.3s;
        height: 65px;
        width: 100%;
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
      }
    }
    .text {
      background-color: white;
      color: black;
      padding: 5px;
      p {
        text-align: center;
        margin-bottom: 0;
      }
    }
    .navbar-toggler {
      border: none !important;
      position: absolute;
      left: 0.75%;
      z-index: 999;
      top: 35%;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 12px;
        height: 2px;
        background-color: white;
        border-radius: 1px;
        width: 35px;
        transform-origin: left center;
        transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        margin-top: -5px;
        transform: scaleX(0);
      }
      &::after {
        content: '';
        position: absolute;
        top: 70%;
        left: 12px;
        height: 2px;
        background-color: white;
        border-radius: 1px;
        width: 35px;
        transform-origin: left center;
        transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        margin-top: 5px;
        transform: scaleX(0);
      }
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
      }
      &:hover {
        .icon-bar {
          transform: translate3d(0%, -50%, 0) rotate(135deg);
          transition: all 0.4s 0.2s cubic-bezier(0.25, 0.6, 0.36, 1);
        }
      }
      .icon-bar {
        background-color: white;
        display: block;
        width: 35px;
        height: 2px;
        border-radius: 1px;
        margin-top: 4px;
        transition: all 0.5s cubic-bezier(0.25, 0.6, 0.36, 1);
        transform: rotate(-45deg);
        &::before {
          content: '';
          position: absolute;
          height: 2px;
          border-radius: 1px;
          background-color: white;
          transition: transform 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
          left: 0;
          right: 0;
          top: 0;
          transform: rotate(90deg);
        }
      }
    }
    .navbar-toggler.collapsed {
      .icon-bar {
        transform: rotate(0);
        &::before {
          transform: rotate(0);
        }
      }
      &::before {
        transform: scaleX(0.75);
      }
      &::after {
        transform: scaleX(0.5);
      }
      &:hover {
        &::before {
          animation: scale1 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        &::after {
          animation: scale2 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
    .navbar-collapse {
      transform: translateY(-73px);
      visibility: hidden;
      transition: visibility 0s 0.6s;
      .navbar-nav {
        z-index: 1;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 100px 80px 100px;
        position: relative;
        transform: translateY(0px);
        transition: transform 0.6s 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        &::before {
          content: '';
          position: absolute;
          top: 0px;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
          background-color: rgb(255, 255, 255);
          transform-origin: center top;
          transform: scaleY(0);
          transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        .nav-item {
          > .nav-link {
            display: inline-block;
            padding: 5px 10px;
            margin-top: 5px;
            color: #154547;
            font-size: 24px;
            transform: translateY(-60px);
            opacity: 0;
            transition: all 0.3s ease;
            position: relative;
            z-index: 999;
            &::before {
              content: '';
              position: absolute;
              top: 16px;
              left: -20px;
              width: 7px;
              height: 7px;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 10px solid transparent;
              background-color: transparent;
              transition: 0.3s ease all;
            }
            &:hover {
              color: #00d07f;
            }
          }
          .nav-link.selected {
            &::before {
              border-left: 10px solid #00d07f;
              animation: move 0.8s ease infinite;
            }
          }
        }
      }
    }
  }
}
